<div class="container">
  <div class="modal-body modal-body-sub_agile">
    <div class="col-md-8 modal_body_left modal_body_left1">
      <h3 class="agileinfo_sign">EDITAR
        <span>PERFIL</span>
      </h3>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <div class="styled-input agile-styled-input-top">
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          <%= f.label :email %>
          <span></span>
        </div>
        <div class="styled-input agile-styled-input-top">
          <%= f.label :password,"Contraseña (Dejas en blanco si no desea cambiar.)" %><br />
          <%= f.password_field :password, autocomplete: "off" %>
          <span></span>
        </div>
        <div class="styled-input agile-styled-input-top">
          <%= f.label :password_confirmation,"Confirmar Contraseña (Dejas en blanco si no desea cambiar.)" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
          <span></span>
        </div>
        <div class="styled-input">
          <%= f.label :current_password,"Contraseña Actual para confirmar los cambios." %><br />
          <%= f.password_field :current_password, autocomplete: "off" %>
          <span></span>
        </div>
        <div class="actions">
          <%= f.submit "ACTUALIZAR" %>
          <%= link_to "CANCELAR", root_path, class: "btn-system" %>
        </div>
      <%end%>
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
