<div id="hero-slider">
  <div class="hero-slide banner-slide">
    <div class="container-fluid mt-1em" style="min-height: 620px;">
      <div class="row hero-content text-center">
        <div class="col-xs-6 col-sm-3 col-md-3">
          <%=image_tag("e1.png",class:"img-fluid slide-message",style: "width:50%; margin:0 auto;", "data-animation" => "fadeInLeftBig", "data-delay" => "0.4s")%>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3">
          <%=image_tag("e2.png",class:"img-fluid slide-message",style: "width:70%; margin:0 auto;", "data-animation" => "fadeInUpBig", "data-delay" => "0.5s")%>
        </div>
        <div class="col-xs-10 col-sm-3 col-md-3">
          <%=image_tag("e3.png",class:"img-fluid slide-message",style: "width:70%; margin:0 auto;", "data-animation" => "fadeInRightBig", "data-delay" => "0.6s")%>
        </div>
        <div class="col-xs-12">
          <h3 class="slider-h" data-animation="lightSpeedIn" data-delay="0.1s" style="color:white; font-family: 'Exo 2', sans-serif; text-shadow: 4px 4px black; font-size: 2.5em;"><strong>ESTANQUES CÓNICOS, PRECIOS Y CALIDAD</strong></h3>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-slide banner-slide">
    <div class="container-fluid mt-1em" style="min-height: 620px;">
      <div class="row hero-content text-center middle">
        <h3 class="slider-h" data-animation="zoomIn" data-delay="0.1s" style="color:white; font-family: 'Exo 2', sans-serif; text-shadow: 4px 4px black; font-size: 2.5em;"><strong>FOSAS SEPTICAS Y ACCESORIOS</strong></h3>
        <div class="col-md-7" style="position:relative;">
          <%=image_tag("a2.png",class:"img-fluid slide-message a1", "data-animation" => "fadeInUp", "data-delay" => "0.5s")%>
          <%=image_tag("a1.png",class:"img-fluid slide-message a2", "data-animation" => "fadeInUp", "data-delay" => "0.5s")%>
          <%=image_tag("a3.png",class:"img-fluid slide-message a3", "data-animation" => "fadeInUp", "data-delay" => "0.5s")%>
        </div>
        <div class="col-md-5">
          <%=image_tag("f1.png",class:"img-fluid slide-message f1", "data-animation" => "fadeInUp", "data-delay" => "0.1s")%>
        </div>
      </div>
    </div>
  </div>
</div>
