<div id="hero-slider">
  <div class="hero-slide banner-slide">
    <div class="container-fluid" style="min-height: 550px;">
      <div class="row hero-content text-center">
        <div class="col-xs-6 col-sm-3 col-md-3">
          <%=image_tag("b1.jpg",class:"img-fluid slide-message", "data-animation" => "fadeInLeftBig", "data-delay" => "0.4s")%>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3">
          <%=image_tag("b2.jpg",class:"img-fluid slide-message", "data-animation" => "fadeInUpBig", "data-delay" => "0.6s")%>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3">
          <%=image_tag("b3.jpg",class:"img-fluid slide-message", "data-animation" => "fadeInUpBig", "data-delay" => "0.7s")%>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3">
          <%=image_tag("b4.jpg",class:"img-fluid slide-message", "data-animation" => "fadeInRightBig", "data-delay" => "0.9s")%>
        </div>
        <h3 class="slider-h" data-animation="lightSpeedIn" data-delay="0.1s" style="color:white;"><strong>ESTE ES UN TEXTO PARA QUE SE MUESTRE CON LAS IMÁGENES</strong></h3>
      </div>
    </div>
  </div>
  <div class="hero-slide banner-slide">
    <div class="container" style="min-height: 550px;">
      <div class="row hero-content text-center">
        <div class="col-xs-6 col-sm-3 col-md-3">
          <%=image_tag("b1.jpg",class:"img-fluid slide-message", "data-animation" => "fadeInUpBig", "data-delay" => "0.1s")%>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3">
          <%=image_tag("b2.jpg",class:"img-fluid slide-message", "data-animation" => "fadeInUpBig", "data-delay" => "0.5s")%>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3">
          <%=image_tag("b3.jpg",class:"img-fluid slide-message", "data-animation" => "fadeInUpBig", "data-delay" => "0.9s")%>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3">
          <%=image_tag("b4.jpg",class:"img-fluid slide-message", "data-animation" => "fadeInUpBig", "data-delay" => "1.3s")%>
        </div>
      </div>
    </div>
  </div>
</div>
