<div id="hero-slider">
  <div class="hero-slide banner-slide">
    <div class="container-fluid mt-1em" style="min-height: 550px;">
      <div class="row hero-content text-center">
        <div class="col-xs-6 col-sm-3 col-md-3">
          <%=image_tag("estanque2400.png",class:"img-fluid slide-message",style: "width:70%; margin:0 auto;", "data-animation" => "fadeInLeftBig", "data-delay" => "0.4s")%>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3">
          <%=image_tag("fosa2500.png",class:"img-fluid slide-message",style: "width:70%; margin:0 auto;", "data-animation" => "fadeInUpBig", "data-delay" => "0.5s")%>
        </div>
        <div class="col-xs-10 col-sm-3 col-md-3">
          <%=image_tag("estanque5500.png",class:"img-fluid slide-message",style: "width:70%; margin:0 auto;", "data-animation" => "fadeInRightBig", "data-delay" => "0.6s")%>
        </div>
        <div class="col-xs-12 xol-sm-12 col-md-3">
          <h3 class="slider-h" data-animation="lightSpeedIn" data-delay="0.1s" style="color:white;"><strong>ESTE ES UN TEXTO PARA QUE SE MUESTRE CON LAS IMÁGENES</strong></h3>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-slide banner-slide">
    <div class="container mt-1em" style="min-height: 550px;">
      <div class="row hero-content text-center middle">
        <div class="col-xs-6 col-sm-3 col-md-3">
          <%=image_tag("dist100.png",class:"img-fluid slide-message", "data-animation" => "fadeInUp", "data-delay" => "0.3s")%>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3">
          <%=image_tag("tambor1.png",class:"img-fluid slide-message", "data-animation" => "fadeInUp", "data-delay" => "0.4s")%>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-6">
          <h3 class="slider-h" data-animation="zoomIn" data-delay="0.1s" style="color:white;"><strong>ESTE ES UN TEXTO PARA QUE SE MUESTRE CON LAS IMÁGENES</strong></h3>
        </div>
      </div>
    </div>
  </div>
</div>
