<div class="ban-top" style="text-align:center;">
	<div class="container">
		<div class="top_nav_left">
			<nav class="navbar navbar-default">
			  <div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse menu--shylock" id="bs-example-navbar-collapse-1">
				  <ul class="nav navbar-nav menu__list">
					<li class="active menu__item">
            <%=link_to "HOME", root_path,class:"menu__link"%>
          </li>
					<li class=" menu__item"><%=link_to "NOSOTROS", about_path, class:"menu__link"%></li>
					<li class="dropdown menu__item">
						<a href="#" class="dropdown-toggle menu__link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">PRODUCTOS <span class="caret"></span></a>
							<ul class="dropdown-menu multi-column columns-3">
								<div class="agile_inner_drop_nav_info">
									<div class="col-sm-6 multi-gd-img1 multi-gd-text ">
										<a href="mens.html"><%=image_tag("top2.jpg")%></a>
									</div>
									<%Category.all.order(created_at: :asc).each do |category|%>
									<div class="col-sm-3 multi-gd-img">
										<ul class="multi-column-dropdown">

												<%if category.subcategories.any?%>
													<li><h5 style="border-bottom:1px solid black;"><%=category.name%></h5></li>
													<ul class="multi-column-dropdown">
														<%category.subcategories.each do |sc|%>
															<li>
																<%=link_to products_path(category:category.id,subcategory:sc.id) do%>
																	<%=fa_icon "arrow-right",text: sc.name%>
																<%end%>
															</li>
														<%end%>
													</ul>
												<%else%>
													<li>
														<h5 style="border-bottom:1px solid black;border-top:1px solid black;">
															<%=link_to products_path(category:category.id) do%>
																<%=fa_icon "arrow-right",text:category.name%>
															<%end%>
														</h5>
													</li>
												<%end%>

										</ul>
									</div>
									<%end%>
									<div class="clearfix"></div>
								</div>
							</ul>
					</li>
					<li class=" menu__item"><%=link_to "CONTACTO",contact_path,class:"menu__link"%></li>
					<%if user_signed_in?%>
						<li class="dropdown menu__item">
							<a href="#" class="dropdown-toggle menu__link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%=fa_icon "user-circle"%> <span class="caret"></span></a>
								<ul class="dropdown-menu admin multi-column columns-3">
									<div class="agile_inner_drop_nav_info">
										<div class="col-sm-12 multi-gd-img">
											<ul class="multi-column-dropdown">
												<li>
													<%=link_to edit_user_registration_path(current_user) do%>
														<%=fa_icon "user",text: "Mi Cuenta"%>
													<%end%>
												</li>
												<li>
													<%=link_to admin_path do%>
														<%=fa_icon "cogs",text: "Administración"%>
													<%end%>
												</li>
												<li>
													<%=link_to destroy_user_session_path,method: :delete do%>
														<%=fa_icon "sign-out",text:"Salir"%>
													<%end%>
												</li>
											</ul>
										</div>
										<div class="clearfix"></div>
									</div>
								</ul>
						</li>
					<%end%>
				  </ul>
				</div>
			  </div>
			</nav>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
