<!DOCTYPE html>
<html>
  <head>
    <title>Systemplas</title>
    <%= favicon_link_tag 'favico.ico'%>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application'%>

    <script src="https://cdn.jsdelivr.net/jquery.slick/1.5.7/slick.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.slick/1.5.7/slick.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.slick/1.5.7/slick-theme.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.4.0/animate.min.css">
    <%= javascript_include_tag 'slide'%>
    <%= stylesheet_link_tag    'slide', media: 'all'%>
    <link href="https://fonts.googleapis.com/css?family=Exo+2:800" rel="stylesheet">
  </head>

  <body>

    <div id="div_alertas">
    <div class="container text-justify" style="margin-top: 3em;">
      <p>
        ESTIMADOS CLIENTES:
        <br/>
        <br/>
        MEDIANTE EL PRESENTE COMUNICADO, INFORMAMOS A NUESTRA DISTINGUIDA, LA DECISIÓN DEL CAMBIO DE DIRECCIÓN DE NUESTRO SITIO WEB A PARTIR DE 18 DE MARZO DEL 2019, DE MANERA DE PODER MANTENERLOS AL TANTO DE NUESTRAS OFERTAS Y NUEVOS PRODUCTOS.
        <br/>
        <br/>
        NOS HEMOS VISTO EN LA OBLIGACIÓN DE TENER QUE MIGRAR NUESTRO WEB SITE, ANTE LA NOTICIA RECIBIDA ESTA SEMANA, DEL REGISTRO DE NUESTRA MARCA, POR PARTE DE OTRA EMPRESA DE LA COMPETENCIA.
        <br/>
        <br/>
        AL RESPECTO DEBEMOS SEÑALAR QUE SOMOS UNA EMPRESA QUE BASA SU PRESTIGIO Y CALIDAD DE SUS PRODUCTOS EN LA FABRICACIÓN CON MATERIALES DE CALIDAD, ES ASÍ COMO NOS HAN PREFERIDO NUESTROS CLIENTES MAS ALLÁ DE NUESTRO NOMBRE COMO EMPRESA.
        <br/>
        <br/>
        LA EMPRESA INFORMA ADEMAS QUE LOS CANALES DE COMUNICACIÓN CON SU CLIENTELA SON:
        <br/>
        <br/>
        <ul>
          <li>+56 9 9787 7802 MARIA TERESA</li>
          <li>+56 9 5995 2639 MIGUEL GODOY</li>
          <li>+56 9 4628 2163 ELIAS BASUALTO</li>
        </ul>
        <br/>
        <br/>
        AGRADECEMOS SU PREFERENCIA.
      </p>
    </div>
  </body>
</html>
